<h2>Show Post</h2>

<a href="<%= new_post_comment_url(@post) %>">Create Comment</a>
<br>

<% Comment.parentless_comments_by_post_id(@post.id).each do |comment|%>
<ul>
<%= print_parent(comment) %>
</ul>

<% end %>


